///
body {
    background: linear-gradient(to bottom, #00008b, #87cefa);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
}

.column {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
}

/*button managment */

button {
    padding: 20px 40px; /* Increase padding to make buttons larger */
    font-size: 1.5em; /* Increase font size for larger text */
    background-color: #ff9900;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0; /* Add margin to separate buttons vertically */
    display: block; /* Set display to block to force one button per row */
    width: 100%; /* Set width to 100% to occupy the entire column width */
}


button:hover {
    background-color: #ff6600;
}
